# URL local del servidor Plex
# Ejemplos:
# PLEX_BASE_URL=http://127.0.0.1:32400
# PLEX_BASE_URL=http://192.168.1.50:32400

PLEX_BASE_URL=http://192.168.86.58:32400
PLEX_TOKEN=tu_token_plex_aqui

# Nombre exacto de la biblioteca de series en Plex
# Ejemplos comunes: Series, TV Shows, TV, Shows
PLEX_LIBRARY_NAME=Series

# Carpeta de salida para los archivos generados
OUTPUT_DIR=output

# Si está en true, el script omite Movies, Music u otras bibliotecas aunque estén listadas.
PLEX_PROCESS_ONLY_SHOW_LIBRARIES=true

# 0 = sin límite.
# Útil para pruebas: MAX_SERIES=10
MAX_SERIES=0

# Archivo específico a revisar.
# Vacío = toma el último plex_series_export_*.xlsx de /output
PLEX_EXPORT_FILE=

# 0 = sin límite.
# Útil para pruebas: TVMAZE_MAX_SERIES=10
TVMAZE_MAX_SERIES=0

# Pausa entre llamadas a TVmaze.
# Recomendado: 0.6 para respetar límites de uso.
TVMAZE_SLEEP_SECONDS=0.6